# Ignore the data directory.
/data/
# Ignore the dbsettings file for database access.
dbsettings.py

# For Java code.
# Ignore jar files.
*.jar

# For Maven projects.
# Ignore the target directory.
/gmd-java/target/

# For Eclipse projects.
# Ignore Eclipse project files.
.settings
.classpath
.project

# For Python.
__pycache__/

# For PyCharm projects.
# Ignore PyCharm project files.
.idea

# For virtual environment.
/gmd-python/env/
